.App {

  background-image: url('./assetc/png/gameplay_design_01/bg.png'); 
  height: max-content;
  min-height: 100%;
  height: 100%;
  width:100%;
  height:auto !important;
  position:absolute;
  z-index:1;
 
}

.game-table {
  background-image: url('./assetc/png/gameplay_design_01/table.png');
  height: 550px;
    background-repeat: round;
}

.gamer-user {
  /* background-image: url('./assetc/png/gameplay_design_01/sliver_chair_fream.png'); */
  /* height: 120px;
  width: 260px; */
  background-repeat: round;
  justify-content: space-evenly;
  display: flex;
  align-items: center;

}

.gamer-bottom  {
  position: relative;
  top: 75px;
}

.gamer-top {
  position: relative;
  bottom: 75px;
}

.gamer-title {
  /* width: 110px;
  margin-left: 25px;
  margin-top: 25px; */
  /* padding: 5px 25px; */
  /* background-image: url('./assetc/png/gameplay_design_01/sliver_text_box02.png'); */
  background-repeat: round;
}

.gamer-subtitle {
  /* width: 90px;
  margin-left: 25px;
  margin-top: 15px; */
  /* padding: 5px 25px; */
  /* background-image: url('./assetc/png/gameplay_design_01/golden_text_box.png'); */
  background-repeat: round;
}

.gold-subtitle {
  background-image: url('./assetc/png/gameplay_design_01/golden_text_box02.png');
  background-repeat: round;
  width: 100%;
}

.gold-title {
  background-image: url('./assetc/png/gameplay_design_01/golden_text_box.png');
  background-repeat: round;
  width: 100%;
}

.user-number {
  /* background-image: url('./assetc/png/gameplay_design_01/sliver_circle.png'); */
  background-repeat: round;
  z-index: 2;
}

.silver-user {
  width: 100%;
  background-image: url('./assetc/png/gameplay_design_01/sliver_circle.png');
  background-repeat: round;
}
 
.golden-user {
  width: 100%;
  background-image: url('./assetc/png/gameplay_design_01/golden_circle.png');
  background-repeat: round;
}

.oil-color {
  color: #F4DA90;
}

.gamer-number {
  text-align: center;
  width: 80px;
  height: 80px;
}

.gamer-card {
  width: 28px;
}

.card-bind {
  background-image: url('./assetc/png/gameplay_design_01/bottom_bar.png');
  height: 335px;
  background-repeat: round;
  display: flex;
  justify-content: center;
}

.final-bind {
  background-image: url('./assetc/png/gameplay_design_01/bid_board.png');
  height: 335px;
  background-repeat: round;
  border-radius: 15px;
}

.windows-chaire {
  background-image: url('./assetc/png/gameplay_design_01/window_title.png');
  height: 335px;
  background-repeat: round;
  border-radius: 15px;
}

.game-card {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.card-one {
  background-image: url('./assetc/png/cards/clubs_J.png');

}

.card-two {
  background-image: url('./assetc/png/cards/diamonds_6.png');
}

.card-three {
  background-image: url('./assetc/png/cards/clubs_Q.png');
}

.card-four {
  background-image: url('./assetc/png/cards/hearts_1_A.png');
}

.card-five {
  background-image: url('./assetc/png/cards/diamonds_8.png');
}

.card-six {
  background-image: url('./assetc/png/cards/spades_K.png');
}

.card-seven {
  background-image: url('./assetc/png/cards/spades_10.png');
}

.card-eighth {
  background-image: url('./assetc/png/cards/diamonds_Q.png');
}

.footer-container {
  margin-top: 100px;
}

.active-grean {
 
  border: 6px solid #55CC47;
  border-radius: 20px;
}

.active-danger {
  border-radius: 20px;
  border: 6px solid #CB1909;
}

.increment-index {
  border: 3px solid #6D3FE0;
  background: #2E0099;
  color: white;
}

.decrement-index {
  border: 3px solid #6D3FE0;
  background: #2E0099;
  color: white;
}

.square {
  width: 35px;
  height: 35px;
  align-items: center;
  color: white;
  display: flex;
    justify-content: center;
}

.rectangle {
  width: 70px;
  height: 35px;
  align-items: center;
  color: white;
  display: flex;
    justify-content: center;
}

.rectangle-lg {
  width: 170px;
  height: 35px;
  align-items: center;
  color: white;
  display: flex;
    justify-content: center;
}

.step-one {
  padding: 10px 195px;
}

.step-two {
  padding: 10px 105px;
}

.step-three {
  padding: 10px 105px;
}

.step-four {
  padding: 10px 105px;
}

.step-five {
  padding: 10px 195px;
}

.table-view {
  margin-top: 80px;
}

.tab-img {
  width: 25px;
}

.square-number {
  background-color: #4B157C;
  border: 3px solid #F9BC5F;
}

/* Font Style */


button {
  outline: 0 auto;
}

.font-50 {
  font-size: 50px;
}
